---
title: Cloud Foundry System Metrics
owner: Logging and Metrics
---

<strong><%= modified_date %></strong>

## <a id='metrics-by-component'></a>Metrics by Component


<%= partial './metrics/cloud_controller' %>

<%= partial './metrics/dea_logging_agent' %>

<%= partial './metrics/diego' %>

<%= partial './metrics/doppler' %>

<%= partial './metrics/etcd' %>

<%= partial './metrics/hm9000' %>

<%= partial './metrics/metron_agent' %>

<%= partial './metrics/syslog_drain_binder' %>

<%= partial './metrics/traffic_controller' %>

