---
title: Installing the Loggregator Firehose Plugin for cf CLI
owner: Logging and Metrics
---

This topic describes how to install the Loggregator Firehose Plugin for the Cloud Foundry Command Line Interface (cf CLI).


## <a id='overview'></a> Overview

The Loggregator Firehose plugin for the cf CLI allows <%= vars.app_runtime_first %> admins to access the output of the Loggregator Firehose. The output of the Firehose includes logs and metrics from apps deployed on <%= vars.app_runtime_abbr %> as well as metrics from <%= vars.app_runtime_abbr %> platform components. For more information about the Firehose, see the [Loggregator Architecture](./architecture.html#loggregator-architecture) section of the _Loggregator Architecture_ topic.

For more information about using plugins with the cf CLI, see [Using cf CLI Plugins](../cf-cli/use-cli-plugins.html).

<p class='note'><strong>Note:</strong> You can disable the Firehose. In place of the Firehose, you can configure an aggregate log and metric drain for your foundation. <%= vars.configure_system_logging_link %></p>


## <a id='prerequisites'></a> Prerequisites

Before installing the Loggregator Firehose plugin, you need:

- Admin access to the <%= vars.app_runtime_abbr %> deployment that you want to monitor

- Cloud Foundry Command Line Interface (cf CLI) v6.12.2 or later

For information about downloading, installing, and uninstalling the cf CLI, see [Installing the cf CLI](../cf-cli/install-go-cli.html).


## <a id='add'></a> Install the Plugin

To install the Loggregator Firehose plugin:

1. Add the CF Community plugin repository to your cf CLI plugins by running:

	```
	cf add-plugin-repo CF-Community https://plugins.cloudfoundry.org
	```

1. Install the Firehose plugin from the CF Community plugin repository by running:

	```
	cf install-plugin -r CF-Community "Firehose Plugin"
	```


## <a id='usage'></a> View the Firehose

To view the streaming output of the Firehose, which includes logging events and metrics from <%= vars.app_runtime_abbr %> system components, run:

```
cf nozzle --debug
```

<p class='note'><strong>Note:</strong> You must be logged in as a <%= vars.app_runtime_abbr %> admin to access the Firehose.</p>

For more information about logging and metrics in <%= vars.app_runtime_abbr %>, see [Loggregator Architecture](./architecture.html).


## <a id='uninstall'></a> Uninstall the Plugin

To uninstall the Loggregator Firehose plugin:

1. Run `cf plugins` to see a list of installed plugins.
	<pre class='terminal'>
	$ cf plugins
	Listing Installed Plugins...
	OK
	Plugin Name      Version   Command Name   Command Help
	FirehosePlugin   0.6.0     nozzle         Command to print out messages from the firehose
	</pre>

1. Uninstall the plugin by running:

	```
	cf uninstall-plugin FirehosePlugin
	```
