---
title: Installing the Loggregator Firehose Plug-in for cf CLI
owner: Logging and Metrics
---

<<<<<<< HEAD
Here you can learn how to install the Loggregator Firehose Plug-in for the Cloud Foundry Command Line Interface (cf CLI).
=======
You can use the Loggregator Firehose Plug-in for the Cloud Foundry Command Line Interface (cf CLI).
>>>>>>> ccf1521f0a79ef3f247edc696860af3d513086a6

The Loggregator Firehose plug-in for the cf CLI allows <%= vars.app_runtime_first %> admins to access the output of the Loggregator Firehose. The output of the Firehose includes logs and metrics from apps deployed on <%= vars.app_runtime_abbr %> as well as metrics from <%= vars.app_runtime_abbr %> platform components. For more information about the Firehose, see the [Loggregator Architecture](./architecture.html#loggregator-architecture) section of the _Loggregator Architecture_ topic.

For more information about using plug-ins with the cf CLI, see [Using cf CLI plug-ins](../cf-cli/use-cli-plugins.html).

<p> You can deactivate the Firehose. In place of the Firehose, you can configure an aggregate log and metric drain for your foundation:

<%= vars.configure_system_logging_link %>
</p>

## <a id='prerequisites'></a> Prerequisites

Before you install the Loggregator Firehose plug-in, you need these prerequisites:

- Admin access to the <%= vars.app_runtime_abbr %> deployment that you want to monitor

- Cloud Foundry Command Line Interface (cf CLI) v6.12.2 or later

For information about downloading, installing, and uninstalling the cf CLI, see [Installing the cf CLI](../cf-cli/install-go-cli.html).


## <a id='add'></a> Installing the Plug-in

To install the Loggregator Firehose plug-in:

1. Add the CF Community plug-in repository to your cf CLI plug-ins by running:
	```console
	cf add-plugin-repo CF-Community https://plugins.cloudfoundry.org

2. Install the Firehose plug-in from the CF Community plug-in repository by running:

	```console
	cf install-plugin -r CF-Community "Firehose Plugin"
	```


## <a id='usage'></a> Viewing the Firehose

To view the streaming output of the Firehose, which includes logging events and metrics from <%= vars.app_runtime_abbr %> system components, run:

```console
cf nozzle --debug
```

<p> You must be logged in as a <%= vars.app_runtime_abbr %> admin to access the Firehose.</p>

For more information about logging and metrics in <%= vars.app_runtime_abbr %>, see [Loggregator Architecture](./architecture.html).


## <a id='uninstall'></a> Uninstalling the Plug-in

To uninstall the Loggregator Firehose plug-in:

1. Run `cf plugins` to see a list of installed plug-ins.
	<pre class="terminal">
	$ cf plugins
	Listing Installed Plugins...
	OK
	Plugin Name      Version   Command Name   Command Help
	FirehosePlugin   0.6.0     nozzle         Command to print out messages from the firehose
	</pre>

1. To uninstall the plug-in, run:

	```
	cf uninstall-plugin FirehosePlugin
	```
