---
title: Logging and Metrics
owner: Logging and Metrics
---

This documentation describes logging and metrics in Cloud Foundry (CF). It includes topics related to monitoring, event logging, CF data sources, and viewing logs and metrics. It also includes information about the Loggregator system, which aggregates and streams logs and metrics from apps and platform components in <%=vars.product_full%>.

## Table of Contents

* <a href="./data-sources.html" class="subnav">Overview of Logging and Metrics</a>

* <a href="./architecture.html" class="subnav">Overview of the Loggregator System</a>

* <a href="../devguide/deploy-apps/streaming-logs.html" class="subnav">Application Logging in Cloud Foundry</a>

* <a href="./cc-uaa-logging.html" class="subnav">Security Event Logging</a>

<% if not vars.product_name == 'CF' %>

* <a href="../customizing/custom-syslog-rules.html">Customizing Platform Log Forwarding</a>

* <a href="../metric-registrar/index.html">Configuring the Metric Registrar</a>

<% else %>

* <a href="../running/all_metrics.html">Cloud Foundry Component Metrics</a>

<% end %>

<% if not vars.product_name == 'CF' %>

## See Also

* <%= vars.monitoring_cf_ref %>

* <%= vars.configuring_logging_ref %>

* <%= vars.monitoring_instance_usage_ref %>

* <%= vars.monitoring_app_task_service_usage %>

* <%= vars.monitoring_vm_ref %>

<% end %>