---
title: Logging and Metrics
owner: Logging and Metrics
---

This documentation describes logging and metrics in Cloud Foundry (CF). It includes topics related to monitoring, event logging, CF data sources, and viewing logs and metrics. It also includes information about the Loggregator system, which aggregates and streams logs and metrics from apps and platform components in <%=vars.product_full%>.

## Contents

### Logging and Metrics

* <a href="./data-sources.html">Overview of Logging and Metrics</a>: This topic provides an overview of logging and metrics in CF.

* <a href="../devguide/deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a>: This topic describes log types and their messages. It also explains how to view logs from the cf CLI.

<% if not vars.product_name == 'CF' %>

* <a href="../customizing/custom-syslog-rules.html">Customizing Platform Log Forwarding</a>: This topic describes how to modify log forwarding rules. 

* <%= vars.configuring_registrar_ref %>: <%= vars.configuring_registrar_toc %>

* <a href="../opsguide/identify-metric-source.html">Identifying the Source Deployments of Metrics</a>: This topic describes how to identify which runtime deployment is the source of metrics.

<% else %>

* <a href="../running/all_metrics.html">Cloud Foundry Component Metrics</a>

* <a href="./cc-uaa-logging.html">Security Event Logging</a>: This topic describes how to enable and interpret security event logging for the Cloud Controller, the User Account and Authentication (UAA) server, and CredHub. 

<% end %>

### Loggregator

* <a href="./architecture.html">Loggregator Architecture</a>: This topic describes the architecture of the Loggregator system.

* <a href="./log-ops-guide.html">Loggregator Guide for Cloud Foundry Operators</a>: The topic provides information about configuring Loggregator to avoid data loss with high volumes of logging and metrics data.

* <a href="./nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>: This topic describes deploying a nozzle application to the Loggregator Firehose. 

* <a href="./cli-plugin.html">Installing the Loggregator Firehose Plugin for cf CLI</a>: This topic describes how to use the Loggregator Firehose Plugin for cf CLI to access the output of the Firehose.

<% if not vars.product_name == 'CF' %>

## See Also

For more information about logging, monitoring, and reporting, see the topics below.

* <%= vars.configuring_logging_ref %>: This topic describes how to forward system logs to an external service, scale Loggregator component VMs, and manage app traffic logging.

* <a href="./cc-uaa-logging.html">Security Event Logging</a>: This topic describes how to enable and interpret security event logging for the Cloud Controller, the User Account and Authentication (UAA) server, and CredHub. 

* <%= vars.monitoring_cf_ref %>: This topic describes how operators can monitor their deployments. It includes information about selecting and configuring a monitoring system.

* <%= vars.monitoring_instance_usage_ref %>: This topic describes how to retrieve app, task, and service instance usage information.

* <%= vars.monitoring_app_task_service_usage %>: This topic describes how to use the cf CLI to retrieve system and org level usage information about apps, tasks, and service instances.

* <%= vars.monitoring_vm_ref %>: This topic describes how to check current VM status.

* * <a href="https://docs.pivotal.io/pivotalcf/2-6/windows/troubleshooting.html#logs">Access Windows Event Logs</a>: This section describes how to access log messages from Windows Diego cells.

<% end %>